.dropbtn {
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 1.4em;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .global-lang .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;

  }
  
  .dropdown-content a:hover {background-color: black;color: white;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: black;
  }
  .account i{
      font-size: 1.8em;
      color: white;
  }
  .basket-item{
      position: relative;
  }
  .basket-item .basket>i{
      font-size: 1.6em;
      color: white;
  }
  .basket-item span{
  color: red;
  font-weight: 600;
 
  position: absolute;
 
  }
  #nav-belt{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .nav-left{
      margin-left: 1em;
  }
  .nav-right{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-right: 2em;
  }
  .nav-center{
      justify-content: center;
      display: flex;
  }
  .btn-search{
      background-color: #FEBD69;
      border: none;
      padding: .2em .5em;
      outline: none;
  }
  .search{
      border: none;
      width: 700px;
      padding: .2em;
     outline: none;
  }
  .dropbtn{
    margin-right: 1.5em;
  }
  .account{
    margin-right: 2em;
  }
  @media screen and (max-width: 1072px) {
    .search {
        width: 600px;
    }
  }
  @media screen and (max-width: 950px) {
    .search {
        width: 450px;
    }
  }
  @media screen and (max-width: 770px) {
    .search {
        width: 350px;
    }
  }
  @media screen and (max-width: 700px) {
    .search {
        width: 250px;
        
    }
    #nav-belt i{
        font-size: 1.3em;
    }
  }
  @media screen and (max-width: 550px) {
    .search {
        width: 150px;
        padding: 0;
    }
    #nav-belt i{
        font-size: 1em;
    }
    .nav-left img{
        width: 100px;
    }
  }
  @media screen and (max-width: 550px) {
    .search {
        width: 150px;
        padding: 0;
      

    }
    
    .btn-search i{
        font-size: .5em;
    }
    #nav-belt i{
        font-size: 1em;
    }
    .nav-left img{
        width: 70px;
        height: 30px;
    }
  }
  /*Header bitti*/

  /* .navigation-bar {
    overflow: hidden;
    background-color: black; 
  }
  
  .navigation-bar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navigation-bar a:hover, .subnav:hover .subnavbtn {
    background-color: black;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
   
  }
  
  .subnav-content a {
    color: black;
    text-decoration: none;display: block;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  .subnav-content ul>li{
    text-decoration: none;
  }
  .bb{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
   
  }
  .bb {
    padding: 0;
  }
  .bb li{
   list-style: none;
  }
  .bb li a{
    text-decoration: none;
  } */
   /* Side Nav */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.2em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
 .dropdown-btn{
  outline: none;
 }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .dropdown-container {
    display: none;
    background-color: #111;
    padding-left: 8px;
  }
 
 #mySidenav .dropdown-container a{
      padding: .5em;
     text-decoration: none;
      font-size: 1em;
      font-family: Arial, Helvetica, sans-serif;
  }
  #mySidenav .dropdown-btn {
    outline: none;
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }


 #mySidenav .closebtn{
   color: white;
   cursor: pointer;
 }