
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="submenu pt-3" style="background-color: rgb(248, 246, 246)">
    <div class="container">
        <div class="row">
            <div style="cursor:pointer" class=" col-md-4 col-lg-3 pb-3" href="/Shop/Product/2" >
                <img width="100%" src="~/images/laptops2.jpg" style="height: 230px;padding: .5em; background-color: white;" />
            </div>
            <div style="cursor:pointer" class="col-md-4 col-lg-3" href="/Shop/Product/1">
                <img width="100%" src="~/images/samsung3.jpg" style="height: 230px;padding: .5em; background-color: white;" />
            </div>
            <div style="cursor:pointer" class="col-md-4 col-lg-3" href="/Shop/Product/3">
                <img width="100%" src="~/images/tablet.jpg" style="height: 230px;padding: .5em; background-color: white;" />
            </div>
            <div style="cursor:pointer" class="col-md-4 col-lg-3" href="/Shop/Product/4">
                <img width="100%" src="~/images/camera.jpg" style="height: 230px;padding: .5em; background-color: white;" />
            </div>
            <div style="cursor:pointer" class="col-md-4 col-lg-3" href="/Shop/Product/5">
                <img width="100%" src="~/images/watch.jpg" style="height: 230px;padding: .5em; background-color: white;" />
            </div>
            <div style="cursor:pointer" class="col-md-4 col-lg-3" href="/Shop/Product/6">
                <img width="100%" src="~/images/headphone.jpg" style="height: 230px;padding: .5em; background-color: white;" />
            </div>
            <div style="cursor:pointer" class="col-md-4 col-lg-3" href="/Shop/Product/7">
                <img width="100%" src="~/images/power2.jpg" style="height: 230px;padding: .5em; background-color: white;" />
            </div>
            <div style="cursor:pointer" class="col-md-4 col-lg-3" href="/Shop/Product/8">
                <img width="100%" src="~/images/game2.jpg" style="height: 230px;padding: .5em; background-color: white;" />
            </div>

        </div>
    </div>
</div>

