@model IEnumerable<ECommerce_MVC.Areas.Admin.ViewModel.ProductViewModel>

@{
    ViewData["Title"] = "ProductTable";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>ProductTable</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="tableContainer">
   
</div>

